.wrapper {
  width: 528px;
  margin-top: 24px;
}

.title {
  font-size: 20px;
  line-height: 24px;

  color: #48545D;
  margin-bottom: 30px;
  text-align: center;
}



.submit-btn {
  width: 100%;
  height: 56px;
  border-radius: 6px;
}
.login-input {
  height: 56px !important;
  border-radius: 6px;
  color: #7A889B;
}

.form-control {
  margin-bottom: 16px;
}

.login-page__auth-with-login {
  input {
    height: 56px!important;
  }
}
