//tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// modules
@import "modules/ant/index", "modules/vueDatePicker/index", "modules/helpers/index";

// base
@import "base/typography";

* {

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #d1e8ff;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #465972;
  }

}
