.ant-btn-primary {
  background: #0096B2;
  //color: #0096b2 !important;
  //border-color: #0096b2 !important;
  box-shadow: 0 2px 2px rgba(122, 136, 155, 0.16);
}

.ant-btn {
  border-radius: 6px;
  min-height: 40px;
}
