

.ant-modal-root {
  .ant-modal-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #48545D;
  }

  .ant-modal-content, .ant-modal-header {
    border-radius: 6px;
  }
}
