.user-create-btn {
  display: flex;
  align-items: center;
  svg {
    display: inline-block;
    margin-right: 9px;
  }
}

.user-search-input {

  input {
    height: 30px !important;
  }

  &__icon {
    @apply text-primary;
  }
}
